

.page {
    display: flex;
  }
  
  .page > * {
    padding: 1rem;
  }
  
  .sidebar {
    background: var(--color-primary-x-light);
    outline: 1px solid var(--color-primary);
    width: 14rem;
  }
  
  /* Extrinsic sizes on this page simulate the small viewport for you */
  body {
    width: 400px;
    height: 400px;
    min-height: unset;
    padding: 2rem;
    border: 1px solid var(--color-stroke);
    background: var(--color-off-white);
    margin: 1rem auto;


  }
  
  .page {
    background: rgb(255, 255, 255);
    border: 1px solid var(--color-stroke);
  }
  

  body{
    background-image: url("img/paper2.jpg");
    background-color: #fcf7f7;
  }
 

h1 {
    color: rgb(255, 8, 0);
}

h2 {
    color: rgb(211, 59, 59);
}

h3 {
    color: rgb(180, 76, 76);
}

a {
    color: rgb(255, 11, 11);
}

